<h1>New Sighting</h1>

<form action="/sightings" method="post">
  <select>
    <% @species.each do |specie| %>
      <option value="<%= specie.id %>"><%= specie.name %></option>
    <% end %>
  </select>

  <label for="sighting_date">Date</label>
  <input id="sighting_date" name="sighting[date]" type="text">
  <label for="sighting_latitude">Latitude</label>
  <input id="sighting_latitude" name="sighting[latitude]" type="text">
  <label for="sighting_longitude">Longitude</label>
  <input id="sighting_longitude" name="sighting[longitude]" type="text">
  <button>Create sighting</button>
</form>
