<h1>New Specie</h1>

<form action="/species" method="post">
  <label for="specie_name">Name</label>
  <input id="specie_name" name="specie[name]" type="text">
  <button>Create Specie</button>
</form>
